<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register yourself and let's explore the world together</h1>
    <form method="post" action="/user/new?_method=post">
        <input type="text" name="username" placeholder=" create username">
        <input type="text" name="email" placeholder=" Enter email">
        <input type="text" name="password" placeholder=" create password">
        <button>Add</button>
    </form>
</body>
</html>